
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/GARANTIBBVA/error-page\.php$
RewriteRule ^(.*)$ /GARANTIBBVA/error-page.php?url=$1 [L,R=301]
